@viewport {
  width: device-width; }
html {
  background-color: #fff;
  box-sizing: border-box;
  height: 100%; }

*:before, *:after {
  box-sizing: inherit; }

body {
  -webkit-font-smoothing: antialiased;
  color: #484c55;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  min-height: 100%;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  margin: 0;
  padding: 0;
  width: 100%; }

a {
  background: transparent;
  color: #ffb3a1;
  text-decoration: none;
  transition: color .2s; }

.img {
  height: auto;
  display: block;
  width: 100%; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: normal; }

section, div {
  margin: 0;
  padding: 0; }

.row, .container-fluid {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0; }

p {
  margin-bottom: 0; }

.header_title {
  position: relative;
  margin: -3.2vw 0 0 0;
  padding: 0;
  font-family: "Playfair Display", serif;
  color: #26272a;
  width: auto;
  font-size: 6.5vw;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .2vw;
  text-align: center; }
  .header_title .first {
    display: inline-block;
    height: 0;
    font-family: "Parisienne", cursive;
    color: #ffb3a1;
    text-transform: none;
    font-weight: 400;
    font-size: 8.5vw;
    letter-spacing: 0;
    word-spacing: -1.5vw; }
    .header_title .first::first-letter {
      display: inline-block;
      margin-right: -2vw;
      font-size: 11.5vw; }

.header__author {
  color: black;
  font-size: 2vw;
  font-family: "Playfair Display", serif; }
  .header__author .first {
    font-style: italic; }
  .header__author .last {
    text-transform: uppercase;
    font-weight: 700; }

.handmadeAndHandpaint_title {
  margin: 0;
  padding: 0;
  line-height: 9vw;
  text-align: center; }
  .handmadeAndHandpaint_title .first {
    font-weight: 900;
    font-family: "Playfair Display", serif;
    text-transform: uppercase;
    font-size: 12vw;
    color: #26272a;
    letter-spacing: -.3vw; }
  .handmadeAndHandpaint_title .middle {
    font-family: "Playfair Display", serif;
    font-style: italic;
    font-size: 10vw;
    text-transform: uppercase;
    color: #26272a; }
  .handmadeAndHandpaint_title .last {
    font-family: "Parisienne", cursive;
    font-size: 18vw;
    color: #ffb3a1; }

.nature__title {
  font-family: "Playfair Display", serif;
  color: white;
  font-size: 14vw;
  text-align: center;
  margin-bottom: 0; }
  .nature__title .middle {
    color: #ffb3a1;
    font-size: 8vw;
    text-transform: uppercase;
    font-weight: 900; }
  .nature__title .last {
    font-size: 12vw;
    font-family: "Parisienne", cursive; }

.dorotea__verse--color {
  color: white !important; }

.dorotea__mobile-content--color::first-letter {
  color: #ffb3a1 !important; }

.texture__title {
  display: block;
  width: 100%;
  font-family: "Playfair Display", serif;
  font-size: 6vw;
  color: #26272a;
  text-align: center;
  line-height: 8vw;
  word-spacing: -2vw; }
  .texture__title .first {
    font-weight: 900;
    font-size: 14vw;
    letter-spacing: -.5vw; }
  .texture__title .middle {
    text-transform: uppercase;
    font-size: 11vw;
    letter-spacing: -.7vw; }
  .texture__title .last {
    font-family: "Parisienne", cursive;
    color: #ffb3a1;
    font-size: 16vw;
    text-transform: capitalize; }

.piece {
  padding: 2vw 1vw;
  position: relative;
  width: 50%;
  margin-top: 6vw; }
  .piece img {
    width: 100%;
    display: block;
    margin: auto; }

.pieces__title {
  color: #26272a;
  font-family: "Playfair Display", serif;
  font-size: 11vw;
  text-transform: uppercase;
  font-weight: 900;
  text-align: center;
  line-height: 8.5vw;
  border-radius: 100%; }
  .pieces__title .first {
    color: #26272a;
    text-transform: none;
    font-family: "Parisienne", cursive;
    font-weight: 400;
    font-size: 16vw; }
  .pieces__title .last {
    color: #ffb3a1;
    text-transform: none;
    font-family: "Parisienne", cursive;
    font-weight: 400;
    font-size: 13vw; }

.piece__title {
  width: 100%;
  font-family: "Playfair Display", serif;
  font-size: 5vw;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  line-height: 5vw;
  margin-bottom: 3vw; }
  .piece__title .first {
    color: #ffb3a1;
    text-transform: none;
    font-family: "Parisienne", cursive;
    font-weight: 400;
    font-size: 7vw; }

.piece__offer .piece__title {
  width: 100%;
  font-size: 5vw;
  text-align: center; }
  .piece__offer .piece__title .number {
    display: inline-block;
    font-family: "Parisienne", cursive;
    color: #ffb3a1;
    font-size: 16vw;
    font-weight: 400; }
  .piece__offer .piece__title .middle {
    font-family: "Parisienne", cursive;
    text-transform: none;
    font-size: 7.5vw;
    font-weight: 400; }

/*it is NOT double content ('s')*/
.gallery__line {
  display: block;
  width: 80%;
  background: #ffb3a1;
  height: .3vw;
  border: 0;
  margin-top: 2vw;
  margin-bottom: 2vw; }

.piece__offer .piece__offer__list {
  list-style: none;
  padding-left: 5vw;
  margin-top: 5vw; }
.piece__offer .offer {
  font-size: 3.5vw;
  font-family: "Playfair Display", serif;
  text-transform: uppercase; }
  .piece__offer .offer .offer--pink {
    color: #ffb3a1; }

.modal-header__button {
  position: absolute;
  top: 25%;
  right: 2vw; }

.modal-body__content {
  font-family: "Playfair Display", serif;
  margin-top: 6vw; }

.pieces16-item {
  font-family: "Playfair Display", serif;
  margin-bottom: 3vw; }
  .pieces16-item a {
    font-weight: 900;
    color: #484c55; }

.fishing {
  text-align: center; }
  .fishing p {
    font-family: "Parisienne", cursive;
    font-size: 8vw;
    color: black;
    text-align: center;
    margin-bottom: 0; }
  .fishing .amazon__button {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffb3a1+11,de6869+30,ffb3a1+67,de6869+95 */
    background: #ffb3a1;
    /* Old browsers */
    background: -moz-linear-gradient(45deg, #ffb3a1 11%, #de6869 30%, #ffb3a1 67%, #de6869 95%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #ffb3a1 11%, #de6869 30%, #ffb3a1 67%, #de6869 95%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #ffb3a1 11%, #de6869 30%, #ffb3a1 67%, #de6869 95%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb3a1', endColorstr='#de6869',GradientType=1 );
    /* IE6-9 fallback on horizontal gradient */
    /*
    // Needs latest Compass, add '@import "compass"' to your scss
    // Permalink - use to edit and share this gradient:
    // http://colorzilla.com/gradient-editor/#ffb3a1+11,de6869+30,ffb3a1+67,de6869+95
    background-color: #ffb3a1; // Old browsers
    @include filter-gradient(#ffb3a1, #de6869, horizontal); // IE6-9 fallback on horizontal gradient
    @include background-image(linear-gradient(left bottom, #ffb3a1 11%,#de6869 30%,#ffb3a1 67%,#de6869 95%));
    */
    font-family: "Playfair Display", serif;
    font-size: 6vw;
    text-transform: uppercase;
    color: white;
    font-weight: 900;
    letter-spacing: 1vw;
    border-radius: 25px; }
  .fishing i {
    display: block;
    font-family: "Playfair Display", serif;
    font-size: 3vw;
    font-style: italic;
    letter-spacing: .1vw; }

.modal-footer__content {
  color: black;
  font-family: "Playfair Display", serif;
  font-size: 3vw;
  margin-bottom: 0; }
  .modal-footer__content a {
    color: blue;
    text-decoration: underline; }
  .modal-footer__content span {
    font-style: italic; }

.amazon__title {
  position: relative;
  width: 100%;
  color: #ffb3a1;
  font-family: "Playfair Display", serif;
  font-size: 24vw;
  font-weight: 700;
  letter-spacing: -2vw;
  text-align: center; }

.amazon__exclusive {
  position: absolute;
  display: block;
  width: 100%;
  top: 50%;
  left: 0;
  font-size: 3vw;
  letter-spacing: 1.5vw;
  font-style: italic;
  font-weight: 400;
  background: white;
  color: black;
  padding-bottom: .5vw; }

.amazon__content {
  font-family: "Playfair Display", serif;
  font-size: 2.2vw;
  color: #000;
  background: white;
  line-height: 3vw;
  letter-spacing: .1vw;
  text-transform: uppercase;
  padding: 0;
  margin-bottom: 5vw;
  text-align: center; }

.subline-verse {
  width: 10vw;
  background: #ffb3a1;
  height: 0.2vh;
  border: 0;
  margin-top: 2vh;
  margin-bottom: 2vh; }

.dorotea__mobile-verse {
  font-family: "Playfair Display", serif;
  font-style: italic;
  color: #26272a;
  font-size: 2.8vw;
  letter-spacing: 0.15vw;
  line-height: 4vw; }

.dorotea__mobile-content {
  font-family: "Playfair Display", serif;
  color: #484c55;
  font-size: 3.3vw;
  letter-spacing: 0.1vw;
  line-height: 5vw; }
  .dorotea__mobile-content::first-letter {
    font-family: "Parisienne", cursive;
    font-size: 14vw;
    letter-spacing: -0.5vw; }

.header__img-back-container {
  position: relative;
  padding: 0;
  margin: 0;
  width: 100vw; }

.header__title-container {
  position: absolute;
  display: block;
  top: 50%;
  left: 0;
  width: 100%;
  background: white;
  margin: 0;
  padding: 0; }

.header__author-container {
  position: absolute;
  bottom: 0;
  left: 10%; }

#modal__collage .modal-body {
  padding: 1vw; }

.modal__collage--close {
  position: absolute;
  z-index: 10000;
  right: 0;
  color: #da2828;
  font-size: 8vw;
  opacity: .8;
  text-shadow: 2px 0px 1px #000000;
  margin: 1vw 3vw; }

.nature__image-container {
  display: block;
  position: relative;
  margin: 0;
  padding: 0; }

.nature__shadow-container {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5); }

.nature__article {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.gallery__list-pieces {
  display: flex;
  position: relative;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex: 1 50%;
  list-style: none;
  padding: 0; }

.modal-header {
  padding: 3vw 6vw 0;
  position: relative;
  border: none; }
  .modal-header .piece__title {
    width: 92%;
    margin-left: 4%;
    margin-right: 4%;
    font-size: 6vw;
    margin-bottom: 0;
    color: #484c55; }
    .modal-header .piece__title .first {
      font-size: 9vw;
      margin: -2.5vw;
      color: #ffb3a1; }

.gallery .carousel {
  padding-bottom: 5vw; }

.modal-body .img {
  width: auto;
  margin: auto; }
.modal-body .phh__carousel-indicators {
  bottom: 0; }
  .modal-body .phh__carousel-indicators .indicator {
    background-color: #ffb3a1 !important;
    height: 1.5vh;
    border-radius: 5px;
    width: 9px; }
  .modal-body .phh__carousel-indicators li.active {
    border: 1.5px solid white !important;
    background-color: black; }
.modal-body .carousel-item--caption {
  padding-bottom: 10vw; }
.modal-body .carousel-caption {
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%; }
  .modal-body .carousel-caption h5 {
    color: #484c55; }
.modal-body .pieces16-list {
  list-style: circle;
  padding: 5vw 6vw 0; }

.modal-footer {
  background: rgba(0, 0, 0, 0.08);
  padding: 3.5vw; }

.header {
  margin-bottom: 15vw; }

.handmadeandhandpaint {
  margin-bottom: 15vw; }

.collage-sm {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: minmax(10px, auto);
  grid-auto-flow: dense;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 10vw; }
  .collage-sm div {
    padding: 2.5%; }
    .collage-sm div img {
      display: block;
      width: 100%;
      height: 100%; }

.block-blank {
  grid-column-end: span 1; }

.grid-sm-7 {
  grid-column-end: span 7; }

.grid-sm-6 {
  grid-column-end: span 6; }

.grid-sm-4 {
  grid-column-end: span 4; }

.grid-sm-3 {
  grid-column-end: span 3; }

.grid-sm-8 {
  grid-column-end: span 8; }

.grid-sm-12 {
  grid-column-end: span 12; }

.grid-r-sm-2 {
  grid-row-end: span 2; }

.grid-r-sm-3 {
  grid-row-end: span 3; }

.grid-r-sm-4 {
  grid-row-end: span 4; }

.grid-r-sm-5 {
  grid-row-end: span 5; }

.grid-r-sm-7 {
  grid-row-end: span 7; }

.grid-order-sm-1 {
  order: 1; }

.grid-order-sm-2 {
  order: 2; }

.grid-order-sm-3 {
  order: 3; }

.grid-order-sm-4 {
  order: 4; }

.grid-order-sm-5 {
  order: 5; }

.grid-order-sm-6 {
  order: 6; }

.grid-order-sm-7 {
  order: 7; }

.grid-order-sm-8 {
  order: 8; }

.grid-order-sm-9 {
  order: 9; }

.grid-order-sm-10 {
  order: 10; }

.grid-order-sm-11 {
  order: 11; }

.grid-order-sm-12 {
  order: 12; }

.grid-order-sm-13 {
  order: 13; }

.grid-order-sm-14 {
  order: 14; }

.grid-order-sm-15 {
  order: 15; }

.grid-order-sm-16 {
  order: 16; }

.nature {
  display: block;
  position: relative;
  width: 100%;
  margin: 0;
  margin-bottom: 15vw;
  padding: 0; }

.texture {
  margin-bottom: 15vw; }

.gallery {
  margin-bottom: 10vw; }

.list__thumbnail {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding-left: 0; }

.amazon-affiliate-program {
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 15vw;
  background-color: white;
  border: 1vw #ffb3a1 solid;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffb3a1+0,de6868+40,ffb3a1+85 */
  /*background: #ffb3a1; /* Old browsers */
  /*background: -moz-linear-gradient(45deg, #ffb3a1 0%, #de6868 40%, #ffb3a1 85%); /* FF3.6-15 */
  /*background: -webkit-linear-gradient(45deg, #ffb3a1 0%,#de6868 40%,#ffb3a1 85%); /* Chrome10-25,Safari5.1-6 */
  /*background: linear-gradient(45deg, #ffb3a1 0%,#de6868 40%,#ffb3a1 85%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb3a1', endColorstr='#ffb3a1',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  /*
  background-color: #ffb3a1; // Old browsers
  @include filter-gradient(#ffb3a1, #ffb3a1, horizontal); // IE6-9 fallback on horizontal gradient
  @include background-image(linear-gradient(left bottom, #ffb3a1 0%,#de6868 40%,#ffb3a1 85%));*/ }

/*# sourceMappingURL=rebeccapurple.css.map */
