
.handmadeAndHandpaint_title{
  margin:0;
  padding: 0;
  line-height: 6vw;
  text-align: center;
  .first{
    font-weight: $regular;
    font-family: $default-ff;
    text-transform: uppercase;
    font-size: 7vw;
    color:$color-text;
    letter-spacing: -.3vw;
  }
  .middle{
    font-family: $default-ff;
    font-style: italic;
    font-size: 14vw;
    text-transform: uppercase;
    color:$color-text;
  }
  .last{
    font-family: $cursive-ff;
    font-size: 12vw;
    color:$color-primary;
  }
}
