
.handmadeAndHandpaint_title{
  margin:0;
  margin-bottom: 20px;
  padding: 0;
  line-height: 6vw;
  text-align: center;
  .first{
    font-weight: $regular;
    font-family: $default-ff;
    text-transform: uppercase;
    font-size: 7vw;
    color:$color-text;
    letter-spacing: -.3vw;
  }
  .middle{
    font-family: $default-ff;
    font-style: italic;
    font-size: 14vw;
    text-transform: uppercase;
    color:$color-text;

  }
  .last{
    font-family: $cursive-ff;
    font-size: 12vw;
    color:$color-primary;
  }
  @media(min-width: map-get($breakpoints,mmd)){
    .first{
      font-size: 6vw;
    }
    .middle{
      font-size: 11vw;
    }
    .last{
      font-size: 11vw;
    }
  }
  @media(min-width: map-get($breakpoints,md)){
    .first{
      font-size: 6vw;
    }
    .middle{
      font-size: 11vw;
    }
    .last{
      font-size: 11vw;
    }
  }
  @media(min-width: map-get($breakpoints,large)){
    .first{
      font-size: 5.5vw;
    }
    .middle{
      font-size: 9vw;
    }
    .last{
      font-size: 9vw;
    }
  }
  @media(min-width: map-get($breakpoints,xlarge)){
    .first{
      font-size: 6vw;
    }
    .middle{
      font-size: 11vw;
    }
    .last{
      font-size: 11vw;
    }
  }
}
