
.piece__offer{
  order:1;
  @media(min-width: 321px){
    order:0;
  }
  @media(min-width:map-get($breakpoints,md)){//change!
    width:40%;
    order:0;
  }
  @media(min-width:map-get($breakpoints,large)){//change!
    width:25%;
    order:1;
  }
  .piece__offer__list{
    list-style: none;
    padding-left: 0;
    padding-top: 24px;
  }
  .offer{
    font-size:5vw;
    @media(min-width:321px){
      font-size:3.5vw;
    }
    @media(min-width:map-get($breakpoints,small)){
      font-size:2.6vw;
    }
    @media(min-width:map-get($breakpoints,mmd)){
      font-size: 2.4vw;;
      letter-spacing: .2px;
    }
    @media(min-width:map-get($breakpoints,md)){
      font-size:1.8vw;
    }
    @media(min-width:map-get($breakpoints,large)){
      font-size:1.5vw;
    }
    font-family: $default-ff;
    text-transform: uppercase;
    .offer--pink{
      color:$color-primary;
    }
  }
}
