
.piece{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding:2vw 1vw;
  position: relative;
  width: 50%;
  margin-top: 6vw;
  img{
    width: 100%;
    display: block;
    margin: auto;
  }
}
