
.pieces__title{
  color:$color-text;
  font-family: $default-ff;
  font-size:12vw;
  text-transform: uppercase;
  font-weight: $black;
  text-align: center;
  line-height: 8.5vw;
  border-radius: 100%;
  .first{
    color:$color-text;
    text-transform: none;
    font-family: $cursive-ff;
    font-weight: $regular;
    font-size:16vw;
  }
  .last{
    color:$color-primary;
    text-transform: none;
    font-family: $cursive-ff;
    font-weight: $regular;
    font-size:13vw;
  }
  @media(min-width: map-get($breakpoints,small)){
    font-size:9vw;
    line-height: 7vw;
    .first{
      font-size:13vw;
    }
    .last{
      font-size:11vw;
    }
  }
}
