
.piece__offer{

  .piece__offer__list{
    list-style: none;
    padding-left: 5vw;
    margin-top: 5vw;
  }
  .offer{
    font-size:3.5vw;
    font-family: $default-ff;
    //color:black;
    text-transform: uppercase;

    .offer--pink{
      color:$color-primary;
    }
  }
}
