
.gallery__modal-header--inserted{
  display: none;
  @media(min-width: map-get($breakpoints,mmd)){
    display: block;
  }
  @media(min-width:map-get($breakpoints,md)){
    display: block;
  }
  @media(min-width:map-get($breakpoints,large)){
    display: block;
  }
}
