.gallery__modal-dialog{
  max-width: 350px;
  margin: auto;
  @media(min-width: map-get($breakpoints,small)){
    max-width:400px;
  }
  @media(min-width: map-get($breakpoints,mmd)){
    max-width:700px;
  }
}
.gallery__modal-body{
  //swifth the design of modal in 720 for 2 columns
  padding: 2vw;
  @media(min-width: map-get($breakpoints,mmd)){
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap:nowrap;
    flex: 1 auto;

    .gallery__carousel{
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .gallery__modal-body__content--container{
      width: 50%;
      padding:2vw;
      position: relative;
    }
  }
  .gallery__carousel-indicators{

    .indicator{
      background-color: $color-primary !important;
      height: 12px;
      border-radius: 6px;
      width: 12px;
    }
    li.active{
      border:3px solid white !important;
      background-color: black;
    }
  }
  .gallery__carousel-item--caption{
    padding-top: 24px;
  }
  .gallery__carousel-caption{
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 6px 0 0;
    h5{
      color:$color-text-weak;
    }
  }
  .pieces16-list{
    list-style:circle;
    padding: 5vw 6vw 0;
  }
}
.gallery__carousel{
  padding-bottom: 5vw;
}
