
.modal-header{
  padding: 3vw 6vw 0;
  position: relative;
  border:none;
  //background: rgba($color-primary,0.8);
  .piece__title{
    width: 92%;
    margin-left: 4%;
    margin-right: 4%;
    font-size:6vw;
    margin-bottom: 0;
    color:$color-text-weak;
    .first{
      font-size:9vw;
      margin:-2.5vw;
      color:$color-primary;
    }
  }
}
