
.modal-header{
  padding: 3vw 6vw;
  position: relative;
  background: rgba($color-primary,0.8);
  .piece__title{
    font-size:6vw;
    margin-bottom: 0;
    color:white;
    .first{
      font-size:9vw;
      margin:-2.5vw;
      color:black;
    }
  }
}
