
.modal-body{
  padding-top: 10vw;
  .img{
    width: auto;
    margin: auto;
  }
  .phh__carousel-indicators{
    top:-5vw;
    .indicator{
      background-color: $color-primary !important;
      height: 1.5vh;
      border-radius: 5px;
    }
    li.active{
      border:2px solid white !important;
      background-color: black;
    }
  }
  .carousel-item--caption{
    padding-bottom: 10vw;
  }
  .carousel-caption{
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    h5{
      color:$color-text-weak;
    }
  }
  .pieces16-list{
    list-style:circle;
    padding: 5vw 6vw 0;
  }
}
