
#modal__collage{
  .phh__modal-body{
    padding:1vw;
  }
  .phh__modal-content{
    width: auto;
  }
  .phh__justify-content{
    justify-content: center;
  }
}
.img--modal{
  max-width: 300px;
  max-height: 90vh;
  margin:auto;
  @media(min-width: map-get($breakpoints,small)){
    max-width: 400px;
  }
  @media(min-width: map-get($breakpoints,large)){
    max-width: 480px;
  }
}
.modal__collage--close{
  position: absolute;
  z-index: 10000;
  right: 0;
  color: #da2828;
  font-size:24px;
  opacity: .9;
  text-shadow: 2px 0px 1px #000000;
  margin-right: 1.3vw;
}
