
.header_content{
  font-size: 3vw;
  font-family: $default-ff;
  letter-spacing: .1vw;
  line-height: 5vw;
  color:black;
  &::first-letter{
    font-family: $cursive-ff;
    font-size: 14vw;
    letter-spacing: -5px;
  }
}
