//ORGANISMS
//**collage made with the grid approach

.collage-sm{
  display: grid;
  grid-template-columns: repeat(12,1fr);
  grid-auto-rows: minmax(10px,auto);
  grid-auto-flow: dense;
  //MOBILE-DESIGN
  padding-left: 0;
  padding-right: 0;
  //
  div{
    padding: 2.5%;
    img{
      display: block;
      width: 100%;
      height: 100%;
    }
  }
}
.block-blank{
  grid-column-end: span 1;
  //grid-row-end:span 3;
}
.grid-sm-7{
  grid-column-end: span 7;
}
.grid-sm-8{
  grid-column-end: span 8;
}
.grid-sm-4{
  grid-column-end: span 4;
}
.grid-sm-3{
  grid-column-end: span 3;
}
.grid-sm-12{
  grid-column-end: span 12;
}
/*
.grid-r-sm-2{
  grid-row-end:span 2;
}
.grid-r-sm-3{
  grid-row-end:span 3;
}
.grid-r-sm-4{
  grid-row-end:span 4;
}
.grid-r-sm-5{
  grid-row-end:span 5;
}
.grid-r-sm-8{
  grid-row-end:span 8;
}*/
.grid-order-sm-1{
  order:1;
}
.grid-order-sm-2{
  order:2;
}
.grid-order-sm-3{
  order:3;
}
.grid-order-sm-4{
  order:4;
}
.grid-order-sm-5{
  order:5;
}
.grid-order-sm-6{
  order:6;
}
.grid-order-sm-7{
  order:7;
}
.grid-order-sm-8{
  order:8;
}
.grid-order-sm-9{
  order:9;
}
.grid-order-sm-10{
  order:10;
}
.grid-order-sm-11{
  order:11;
}
.grid-order-sm-12{
  order:12;
}
.grid-order-sm-13{
  order:13;
}
.grid-order-sm-14{
  order:14;
}
.grid-order-sm-15{
  order:15;
}
