
.amazon__title{
  position: relative;
  width: 100%;
  color: #ffffff;
  font-family: "Playfair Display", serif;
  font-size: 16.5vw;
  font-weight: 700;
  letter-spacing: -1.5vw;
  text-align: center;
}
