
.amazon__exclusive{
  position: absolute;
  display: block;
  width: 100%;
  top: 46%;
  left: 0;
  font-size: 4vw;
  letter-spacing: 1.5vw;
  font-style: italic;
  font-weight: 400;
  background: white;
  color: black;
  padding-bottom: .5vw;
}
