
.amazon__content{
  font-family: "Playfair Display", serif;
  font-size: 1vw;
  color: #fff;
  line-height: 1.8vw;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  margin-left: auto;
  padding-bottom: 2vw;
}
