
.amazon__title{
  position: relative;
  width: 100%;
  color: $color-primary;
  font-family: "Playfair Display", serif;
  font-size: 24vw;
  font-weight: 700;
  letter-spacing: -2vw;
  text-align: center;
}
