
.nature__title{
  font-family: $default-ff;
  color:white;
  font-size: 14vw;
  text-align: center;
  margin-bottom: 0;
  .middle{
    color:$color-primary;
    font-size: 8vw;
    text-transform: uppercase;
    font-weight: $black;
  }
  .last{
    font-size: 12vw;
    font-family: $cursive-ff;
  }
  @media(min-width: map-get($breakpoints,mmd)){
    font-size: 6vw;
    .middle{
      font-size: 11vw;
    }
    .last{
      font-size: 11vw;
    }
  }
  @media(min-width: map-get($breakpoints,md)){

    font-size: 10vw;
    .middle{
      font-size: 6vw;
    }
    .last{
      font-size: 12vw;
    }
  }
  @media(min-width: map-get($breakpoints,large)){

    /*font-size: 10vw;
    .middle{
      font-size: 6vw;
    }
    .last{
      font-size: 12vw;
    }*/
  }
  @media(min-width: map-get($breakpoints,xlarge)){

    font-size: 6vw;
    .middle{
      font-size: 11vw;
    }
    .last{
      font-size: 11vw;
    }
  }
}
