
.nature__content{
  color:black;
  font-size: 3vw;
  font-family: $default-ff;
  letter-spacing: .1vw;
  line-height: 5vw;
  &::first-letter{
    font-size:14vw;
    font-family: $cursive-ff;
    color:$color-primary;
  }
}
